
h2{
  text-align: left;
  margin-left: 200px;
}





label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}
select{
  height:20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

button{
  height:20px;
  flex: 0 0 200px;
  margin-left: 200px;
}

